@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root {

/** Colors */

/**Primary */

  --blue: hsl(246, 80%, 60%);
  --light-red-work: hsl(15, 100%, 70%);
  --soft-blue-play: hsl(195, 74%, 62%);
  --light-red-study: hsl(348, 100%, 68%);
  --lime-green-exercise: hsl(145, 58%, 55%);
  --violet-social: hsl(264, 64%, 52%);
  --soft-orangeself-care: hsl(43, 84%, 65%);

/** Neutral */

  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
  --dark-blue-alpha: hsla(235, 43%, 38%, 1);
/** Font Family */

  --font-family: "Rubik";

}

*,
::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--light-red-study);
}

a:visited {
  color: var(--lime-green-exercise);
}

ul{
  list-style: none;
}


html {
  font-size: 62.5%;
}


body{
  font-family: var(--font-family);
  background: var(--very-dark-blue);
  color: var(--pale-blue);
}

.container {
  padding: 1.5rem;
  display: grid;
  gap: 2rem;
  margin-top: 50px;
}

header {
  border-radius: 25px 25px 15px 15px;
  background: var(--dark-blue);
  min-width: 186px;
  min-height: 115px;
}



footer{
  margin-top: 5rem;
}

.user {
  background: var(--blue);
  display: flex;
  justify-content: start;
  gap: 2.5rem;
  padding: 3rem;
  border-radius: 15px 15px 20px 20px;
  & p{
    font-size: clamp(1.8rem, 1vw, 3.4rem);
    color: var(--desaturated-blue);
    font-weight: 500;
    font-weight: 400;
  }
  & h1 {
    font-size: clamp(2.5rem, 1vw, 3rem);
    font-weight: 100;
  }
  
  & img{
    width: 70px;
    border: 2px solid white;
    border-radius: 100%;
  }
}

.selected {
  color: #bdc1ff;
  font-weight: 500;
}


.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.nav {
  padding: 2.5rem 0rem;   
  & ul {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
  }
  & li {
    font-size: clamp(1.6rem, 1vw, 2.4rem);
    color: var(--desaturated-blue);
  }
  & li:hover {
    font-weight: 500;
    color: var(--pale-blue);
    cursor: pointer;
  }
}



.cards {
  display: grid;
  gap: 1.5rem;
}


.card {
  padding: 4rem 0 0 0;
  border-radius: 15px 15px 25px 25px;
  min-width: 185px;
  min-height: 90px;
}
  

.card-work{
  background: var(--light-red-work);
  position: relative;
  background-image: url(../images/icon-work.svg); 
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: -10px;
  background-size: auto;
}

.card-play{
  background: var(--soft-blue-play);
  position: relative;
  background-image: url(../images/icon-play.svg); 
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: -10px;
  background-size: auto;
}
.card-study{
  background: var(--light-red-study);
  position: relative;
  background-image: url(../images/icon-study.svg); 
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: -10px;
  background-size: auto;
}
.card-exercise{
  background: var(--lime-green-exercise);
  position: relative;
  background-image: url(../images/icon-exercise.svg); 
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 0px;
  background-size: auto;
}
.card-social{
  background: var(--violet-social);
  position: relative;
  background-image: url(../images/icon-social.svg); 
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: -10px;
  background-size: auto;
}
.card-self-care{
  background: var(--soft-orangeself-care);
  position: relative;
  background-image: url(../images/icon-self-care.svg); 
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: -10px;
  background-size: auto;
}


.card-item{
  background: var(--dark-blue);
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  border-radius: 20px 20px 15px 15px;
}

.card-item:hover {
  background: var(--dark-blue-alpha);
  cursor: pointer;
}

.title {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & h4 {
    font-size: clamp(1.8rem, 1vw, 2.4rem);
    font-weight: 400;
  }
  & img:hover {
    cursor: pointer;
  } 
}



.date {
  margin-top: 1rem;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  & p:first-child {
    font-size: clamp(3.2rem, 1vw, 3.8rem);
    font-weight: 300;
  }
  & p:last-child {
    font-size: clamp(1.4rem, 1vw, 2.4rem);
    color: var(--pale-blue);
    font-weight: 300;
  }
  
}


/* media Media queries */


@media screen and (width > 590px){

.cards{
  grid-template-columns: repeat(2, 1fr) !important;
}

.date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}


@media screen and (width > 969px){
 
  .container {
    margin: auto;
  }

  .cards{
    grid-template-columns: repeat(3,1fr) !important;
  }
  .date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}


@media screen and (width > 1248px ){


  .container{
    max-width: 1114px;
    height: auto;
    display: grid;
    margin: auto;
    margin-top: 10rem;
    grid-template-columns: 25% 75%;
    gap: 3rem;
  }

  
  .user {
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    & p {
      font-size: 1.5rem;
      margin-bottom: 15px;
    }
    & h1 {
      font-size: 3.5rem;
      margin-bottom: 10px;
    }
    & img {
      width: 70px;
      margin-bottom: 20px; 
    }
  }
  
  
  ul {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 0 3rem;
    font-size: 2rem;
  }

 
  .card {
  padding: 4rem 0 0 0;
} 
 
  .cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 3rem;
  }
  
  .card-item {
    height: 100%;
  }
  
  
  
  .title {
    width: 100%;
    h4 {
      font-size: 1.8rem;
    }
  }
  
  .date {
    height: 100%; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  & p:first-child {
    font-size: 5rem;
    margin-top: 15px;
  }
  & p:last-child {
    font-size: 1.4rem;
    margin-bottom: 30px; 
  }
}

  footer {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin-top: 5rem;
    
  }
  
  .attribution {
    font-size: 1.5rem;
    
  }
  
}

@media screen and (width >= 1440px){
  .container {
    margin-top: 125px;
    max-width: 1114px;
    max-height: auto;
    gap: 2rem;  
  }

  header {
    width: 255px;
    height: 520px;
  }


  .card {
    width: 255px;
    height: 245px;
    

  
  }
 .date {
  & p:first-child {
    font-size: 5rem;
  }
  & p:last-child {
    font-size: 1.4rem;
  }
  } 
}

